{{extend 'layout.html'}}


<h4>Update Order</h4>

<div id ="spin" style="position:fixed;top:50%;left:50%">
     <img width: 50% margin: 0 auto src="{{=URL('static','images/spin.gif')}}"/>
</div>

<form id ="main"  action="{{=URL('update')}}" method="POST">
        <input type="hidden" id="order-id" name="order-id" value="{{=order.id}}">

        <div class="row-fluid">
                <div class="span1" >
                    <div class="input-prepend">
                         <button type="submit" >Update <i class="icon-ok icon-black"></i></button>
                    </div>
                 </div>
                 <div class="span1" >
                    <div class="input-prepend">
                        <button type="button"  onclick="deleteOrder()">Delete <i class="icon-list-alt icon-black"></i></button>
                    </div>
                 </div>
                <div class="span1" >
                    <div class="input-prepend">
                        
                        <button type="button"   onclick="goBack()">Order List <i class="icon-plus icon-black"></i></button>
                    </div>
                 </div>
    </div>

    <fieldset>
        <legend>Status</legend>
            <div class="row-fluid">
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Current Status</label>
                         <select id="status" name="status"><option></option></select>
                         <span class="add-on"><i class="icon-certificate icon-black"></i></span>
                    </div>
                </div>
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Receive Date</label>
                        <input id="receive-date" name="receive-date" type="date" >
                        <span class="add-on"><i class="icon-time icon-black"></i></span>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span9">
                    <div class="checkout-wrap">
                        <ul class="checkout-bar">
                            <li id="il-shipped" class="visited first">Shipped</a></li>
                            <li id="il-customs-passed" class="previous visited">Customs Passed</li>
                            <li id="il-delivered" class="active">Delivered </li>
                            <li id="il-cofirmed" class="next">Confirmed</li>
                            <li id="il-complete" class="">Complete</li>
                         </ul>
                    </div>
                </div>
            </div>
         <br><br><br><br>

    <fieldset>
        <legend>Customer</legend>
            <div class="row-fluid">
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Customer Name</label>
                        <input id="customer-name" name="customer-name" type="text" placeholder="Customer's Account Name" required>
                        <span class="add-on"><i class="icon-user icon-black"></i></span>
                    </div>
                </div>
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Recipient Name</label>
                        <input id="recipient-name" name="recipient-name" type="text"  placeholder="Recipient Name" required>
                        <span class="add-on"><i class="icon-user icon-black"></i></span>
                    </div>
                </div>
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Comment</label>
                        <input id="comment" name="comment" type="text" placeholder="Add Comments for This Order">
                        <span class="add-on"><i class="icon-comment icon-black"></i></span>
                    </div>
                </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Product</legend>
            <div class="row-fluid">
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Item Number</label>
                        <input id="item" name="item" type="text" placeholder="e.g.10242, 10246" required>
                        <span class="add-on"><strong>#</strong></span>
                     </div>
                </div>
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Quantity</label>
                            <input id="quantity" name="quantity" type="number" value="1" placeholder="Quantity of the Item"required>
                        <span class="add-on"><strong>1..</strong></span>
                     </div>
                </div>
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Gift</label>
                            <input id="gifts-info" name="gifts-info" type="text" placeholder="Add Gift Information">
                        <span class="add-on"><i class="icon-gift icon-black"></i></span>
                     </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3" >
                    <div class="input-prepend">
                        <label>RRP</label>
                            <input id="rrp" name="rrp" type="number" step="0.01" placeholder="USD" required >
                             <span class="add-on"><strong>$</strong></span>
                    </div>
                </div>
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Shipping Rate</label>
                            <input id="ship-rate" name="ship-rate" type="number" step="0.01" placeholder="USD" required>
                            <span class="add-on"><strong>$</strong></span>
                     </div>
                </div>
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Sold Price</label>
                        <input id="sold-price" name="sold-price" type="number" step="0.01" placeholder="CNY" required>
                        <span class="add-on"><strong>￥</strong></span>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Total Cost</label>
                        <input id="cost" type="text" disabled>
                        <span class="add-on"><strong>$</strong></span>
                    </div>
                </div>
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Profit</label>
                        <input id="earning" type="text" disabled>
                        <span class="add-on"><strong>$</strong></span>
                    </div>
                </div>
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Profit / Cost</label>
                        <input id="earning-cost" type="text" disabled>
                        <span class="add-on"><strong>%</strong></span>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Points Earned</label>
                        <input id="points" type="text" disabled>
                        <span class="add-on"><strong>$</strong></span>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Tax Rate</label>
                        <input id="tax-rate" name="tax-rate" type="number" step="0.01" placeholder="9 ? 8"requird>
                        <span class="add-on"><strong>%</strong></span>
                    </div>
                </div>
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Exchange Rate</label>
                        <input id="exchange-rate" name="exchange-rate" type="number" step="0.01" required>
                        <span class="add-on"><strong>%</strong></span>
                    </div>
                </div>
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Reward Type</label>
                        <select id="reward" name="reward" required><option></option></select>
                        <span class="add-on"><i class="icon-star icon-black"></i></span>
                    </div>
                </div>
            </div>
   </fieldset>
    <fieldset>
        <legend>Shipment</legend>
        <div class="row-fluid">
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Shipping Date</label>
                        <input id="ship-date" name="ship-date" type="date" >
                        <span class="add-on"><i class="icon-time icon-black"></i></span>
                    </div>
                </div>
                <div class="span3" >
                    <div class="input-prepend">
                        <label>City To</label>
                        <select id="destination" name="destination"><option></option></select>
                        <span class="add-on"><i class="icon-plane icon-black"></i></span>
                    </div>
                </div>
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Shipping Company</label>
                        <input id="ship-company" name="ship-company" type="text" placeholder="Company Used" >
                        <span class="add-on"><i class="icon-user icon-black"></i></span>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span3" >
                    <div class="input-prepend">
                        <label>Tracking#</label>
                        <input id="tracking" name="tracking" type="text" placeholder="123456789">
                        <span class="add-on"><strong>#</strong></span>
                    </div>
                </div>
            </div>

    <hr>

    </fieldset>
</form>


<script>

function goBack() {
    window.history.back();
}


function calculateTotalCost(){

        var quantity = Number($('#quantity').val());
        var exchangeRate = Number($('#exchange-rate').val());
        if (quantity <= 0 || exchangeRate<=0){
            $("#cost").val("0");
            $("#earning").val("0");
            $("#earning-cost").val("0");
            $("#points").val("0");
            return ;
        }
        var cost =(Number($('#rrp').val()) * (1 + Number($('#tax-rate').val())/100.0) * quantity + Number($('#ship-rate').val()));
        cost = Math.round(cost * 100) / 100;
        exchangeRate = Number($('#exchange-rate').val());
        earning = Number($('#sold-price').val()) / exchangeRate - cost ;
        earning = Math.round(earning * 100) / 100;
        earning = earning;
        percentage = Math.round((earning / cost) * 100);
        points = Math.round($( "#reward option:selected" ).val() * Number($('#rrp').val()) * 100) / 100;
        points = points
        $("#cost").val(cost);
        $("#earning").val(earning);
        $("#earning-cost").val(percentage);
        $("#points").val(points*quantity);
    }


$( document ).ready(function() {



   var options = ['北京', '上海', '广东', '江苏', '重庆','四川','陕西','山东',  '天津','江西','浙江',
                       '安徽', '河南', '山西','河北', '香港',  '湖南',
                       '福建', '云南', '广西', '海南',  '湖北',  '辽宁',
                       '台湾', '黑龙江', '内蒙古', '澳门', '贵州', '甘肃', '青海', '新疆', '西藏', '吉林', '宁夏'];

   /* Remove all options from the select list */
    var select = document.getElementById("destination");
    for(var i = 0; i < options.length; i++) {
        var opt = options[i];
        var el = document.createElement("option");
        el.textContent = opt;
        el.value = opt;
        select.appendChild(el);
    }

    var select2 = document.getElementById("reward");
    {{for r in rewardOptions:}}
        var opt = '{{=r.name}}';
        var el = document.createElement("option");
        el.textContent = opt;
        el.value = '{{=r.ratio}}';
        select2.appendChild(el);
    {{pass}}

    var select3 = document.getElementById("status");
    {{for s in statusOptions:}}
        var opt = '{{=s.name}}';
        var el = document.createElement("option");
        el.textContent = opt;
        el.value = '{{=s.name}}';
        select3.appendChild(el);
    {{pass}}

    // init values
    $('#status').val('{{=order.status.name}}');
    $('#customer-name').val("{{=order.customer_name}}");
    $('#recipient-name').val("{{=order.recipient_name}}");
    $('#comment-name').val("{{=order.order_comment}}");
    $('#item').val("{{=order.item}}");
    $('#quantity').val("{{=order.quantity}}");
    $('#gifts-info').val("{{=order.gifts_info}}");
    $('#rrp').val("{{=order.rrp}}");
    $('#ship-rate').val("{{=order.ship_rate}}");
    $('#sold-price').val("{{=order.price}}");
    $('#exchange-rate').val("{{= order.exchange_rate}}");
    $('#tax-rate').val("{{= order.tax_rate}}");
    $('#reward').val('{{=order.reward.ratio}}');
    $('#ship-date').val('{{=order.ship_date}}');
    $('#ship-company').val('{{=order.ship_company}}');
    $('#tracking').val('{{=order.tracking}}');
    $('#destination').val('{{=order.order_destination}}');
    $('#receive-date').val('{{=order.receive_date}}');
    calculateTotalCost();

    if("{{=order.status.name}}" == "Not Shipped"){
        $("#il-shipped").attr('class', 'next');
        $("#il-customs-passed").attr('class', '');
        $("#il-delivered").attr('class', '');
        $("#il-cofirmed").attr('class', '');
        $("#il-complete").attr('class', '');
    }

    if("{{=order.status.name}}" == "Customs"){
        $("#il-shipped").attr('class', 'active');
        $("#il-customs-passed").attr('class', 'next');
        $("#il-delivered").attr('class', '');
        $("#il-cofirmed").attr('class', '');
        $("#il-complete").attr('class', '');
    }
    
    if("{{=order.status.name}}" == "Local"){
        $("#il-shipped").attr('class', 'previous visited');
        $("#il-customs-passed").attr('class', 'active');
        $("#il-delivered").attr('class', 'next');
        $("#il-cofirmed").attr('class', '');
        $("#il-complete").attr('class', '');
    }

    if("{{=order.status.name}}" == "Delivered"){
        $("#il-shipped").attr('class', 'previous visited');
        $("#il-customs-passed").attr('class', 'previous visited');
        $("#il-delivered").attr('class', 'active');
        $("#il-cofirmed").attr('class', 'next');
        $("#il-complete").attr('class', '');
    }

    if("{{=order.status.name}}" == "Confirmed"){
        $("#il-shipped").attr('class', 'previous visited');
        $("#il-customs-passed").attr('class', 'previous visited');
        $("#il-delivered").attr('class', 'previous visited');
        $("#il-cofirmed").attr('class', 'active');
        $("#il-complete").attr('class', 'next');
    }

     if("{{=order.status.name}}" == "Complete"){
        $("#il-shipped").attr('class', 'previous visited');
        $("#il-customs-passed").attr('class', 'previous visited');
        $("#il-delivered").attr('class', 'previous visited');
        $("#il-cofirmed").attr('class', 'previous visited');
        $("#il-complete").attr('class', 'active');
    }

    


    $('#rrp').keyup(function() {
       calculateTotalCost();
    });

    $('#ship-rate').keyup(function() {
       calculateTotalCost();
    });

    $('#sold-price').keyup(function() {
       calculateTotalCost();
    });

    $('#tax-rate').keyup(function() {
       calculateTotalCost();
    });

    $('#exchange-rate').keyup(function() {
       calculateTotalCost();
    });

    $('#reward').change(function() {
       calculateTotalCost();
    });

    $('#quantity').change(function() {
       calculateTotalCost();
    });


    if("{{=order.status.name}}" == "Not Shipped"){
        $("#il-shipped").attr('class', 'next');
        $("#il-customs-passed").attr('class', '');
        $("#il-delivered").attr('class', '');
        $("#il-cofirmed").attr('class', '');
        $("#il-complete").attr('class', '');
    }

    if("{{=order.status.name}}" == "Customs"){
        $("#il-shipped").attr('class', 'active');
        $("#il-customs-passed").attr('class', 'next');
        $("#il-delivered").attr('class', '');
        $("#il-cofirmed").attr('class', '');
        $("#il-complete").attr('class', '');
    }
    
    if("{{=order.status.name}}" == "Local"){
        $("#il-shipped").attr('class', 'previous visited');
        $("#il-customs-passed").attr('class', 'active');
        $("#il-delivered").attr('class', 'next');
        $("#il-cofirmed").attr('class', '');
        $("#il-complete").attr('class', '');
    }

    if("{{=order.status.name}}" == "Delivered"){
        $("#il-shipped").attr('class', 'previous visited');
        $("#il-customs-passed").attr('class', 'previous visited');
        $("#il-delivered").attr('class', 'active');
        $("#il-cofirmed").attr('class', 'next');
        $("#il-complete").attr('class', '');
    }

    if("{{=order.status.name}}" == "Confirmed"){
        $("#il-shipped").attr('class', 'previous visited');
        $("#il-customs-passed").attr('class', 'previous visited');
        $("#il-delivered").attr('class', 'previous visited');
        $("#il-cofirmed").attr('class', 'active');
        $("#il-complete").attr('class', 'next');
    }

     if("{{=order.status.name}}" == "Complete"){
        $("#il-shipped").attr('class', 'previous visited');
        $("#il-customs-passed").attr('class', 'previous visited');
        $("#il-delivered").attr('class', 'previous visited');
        $("#il-cofirmed").attr('class', 'previous visited');
        $("#il-complete").attr('class', 'active');
    }

       $('#spin').hide();



});


function deleteOrder(){
        if (confirm("Are you sure to delete this order?") == true) {
            $.ajax({
            url: "{{=URL('delete')}}",
            data: {"order-id": "{{=order.id}}"}, //returns all cells' data
            type: 'POST',
            beforeSend : function(res){
                $('#spin').show();
                $("#main input").prop("disabled", true);
                $("#main select").prop("disabled", true);
            },
            complete : function(res){
                $('#spin').hide();
            },
            success: function (res) {
                window.location.href="list";
            },
            error: function () {
                alert("An error has occurred");
                window.location.href="list";
            }
          });
         }
}

function goBack() {
    window.history.back();
}

</script>
