{{extend 'layout.html'}}
<h2>Order List</h2>
<div class="row-fluid">
    <div class="span2"> <strong>Not Shipped</strong> <span class="badge badge-inverse">{{=notShipped}}</span></div>
    <div class="span2"> <strong>Passing Customs</strong> <span class="badge badge-important">{{=customs}}</span></div>
    <div class="span2"> <strong>Being Delivered</strong> <span class="badge badge-warning">{{=local}}</span></div>
    <div class="span2"> <strong>Delivered</strong> <span class="badge badge-info">{{=delivered}}</span></div>
    <div class="span2"> <strong>Confirmed</strong> <span class="badge badge-default">{{=confirmed}}</span></div>
    <div class="span2"> <strong>Complete</strong> <span class="badge badge-success">{{=complete}}</span></div>
</div>


<form >
  <div class="row-fluid">
       <div class="span1">
             <div class="input-prepend">
                <button type="button" class="btn" onclick="location.href='{{=URL('new')}}'">New <i class="icon-plus icon-black"></i></button>
            </div>
      </div>
        <div class="span6">
            <input type="text" class="input-medium search-query"><button type="submit" class="btn">Search</button>
        </div>
    </div>
</form>

    <div id="example2" style="width:auto"></div>

    <script type="text/javascript">

        function colorEarning(percentage){
            if (Number(percentage) >= 35){
                return 'superhigh';
            }
            if (Number(percentage) >= 30){
                return 'high';
            }
            if (Number(percentage) >= 25){
                return 'middle';
            }
            if (Number(percentage) >= 20 ){
                return 'low';
            }else{
                return 'superlow';
            }
        }
        

        function calculateTotalCost(quantity, rrp, shipRate, taxRate){
            var cost =Number(rrp) * (1 + Number(taxRate)/100.0) *quantity + Number(shipRate);
            cost = parseFloat(Math.round(cost * 100) / 100).toFixed(2);
            return (cost).toString();
        }

        function calculateEarning(quantity, rrp, shipRate, taxRate, exchangRate, price){
            var cost = Number(rrp) * (1 + Number(taxRate)/100.0) *quantity+ Number(shipRate);
            cost = Math.round(cost * 100) / 100;
            var priceUSD = Number(price)/Number(exchangRate);
            priceUSD = Math.round(priceUSD * 100) / 100;
            var earning = priceUSD - cost;
            earning = parseFloat(Math.round(earning * 100) / 100).toFixed(2);
            return earning
        }

        function calculatePoints(quantity, rrp, rewardRatio){
            var points = Number(rrp)*Number(rewardRatio) * quantity;
            points = parseFloat(Math.round(points * 100) / 100).toFixed(2);
            return points
        }

        function shippingPeriod(date1, date2){
            var date1data = date1.split('-');
            var date1 =  new Date(date1data[0], date1data[1]-1, date1data[2]);
            var date2data = date2.split('-');
            var date2 =  new Date(date2data[0], date2data[1]-1, date2data[2]);
            return parseInt(((date2-date1)/(1000*60*60*24)).toString());
        }

        function shippingPeriodToToday(date1){
            var date1data = date1.split('-');
            var date1 =  new Date(date1data[0], date1data[1]-1, date1data[2]);
            var date2 =  new Date();
            return parseInt(((date2-date1)/(1000*60*60*24)).toString());
        }

        function statusColor(status){
            if (status == 'Customs'){
                return "<span class='label label-important'>待检中</span>";
            }
            if (status == 'Not Shipped'){
                return "<span class='label label-inverse'>未发货</span>";
            }
            if (status == 'Local'){
                return "<span class='label label-warning'>投递中</span>";
            }
            if (status == 'Delivered'){
                return "<span class='label label-info'>已妥投</span>";
            }
            if (status == 'Confirmed'){
                return "<span class='label label-default'>已确认</span>";
            }
            if (status == 'Complete'){
                 return "<span class='label label-success'>已完成</span>";
            }
     }

        $(document).ready( function() {


                //Second example that shows all options.
                var waTable = $('#example2').WATable({
                //data: generateSampleData(100), //Initiate with data if you already have it
                debug:false,                //Prints some debug info to console
                dataBind: true,             //Auto-updates table when changing data row values. See example below. (Note. You need a column with the 'unique' property)
                pageSize: 100,                //Initial pagesize
                pageSizePadding: false,      //Pads with empty rows when pagesize is not met
                filter: false,               //Show filter fields
                sorting: true,              //Enable sorting
                sortEmptyLast:true,         //Empty values will be shown last
                columnPicker: true,         //Show the columnPicker button
                pageSizes: [10,20,30,40,50,60,80,100,120,150,200],  //Set custom pageSizes. Leave empty array to hide button.
                hidePagerOnEmpty: true,     //Removes the pager if data is empty.
                checkboxes: false,           //Make rows checkable. (Note. You need a column with the 'unique' property)
                checkAllToggle:false,        //Show the check-all toggle
                preFill: true,              //Initially fills the table with empty rows (as many as the pagesize).
                //url: '/someWebservice'    //Url to a webservice if not setting data manually as we do in this example
                //urlData: { report:1 }     //Any data you need to pass to the webservice
                //urlPost: true             //Use POST httpmethod to webservice. Default is GET.
                types: {                    //If you want, you can supply some properties that will be applied for specific data types.
                    string: {
                        //filterTooltip: "Giggedi..."    //What to say in tooltip when hoovering filter fields. Set false to remove.
                        //placeHolder: "Type here..."    //What to say in placeholder filter fields. Set false for empty.
                    },
                    number: {
                        decimals: 2   //Sets decimal precision for float types
                    },
                    bool: {
                        //filterTooltip: false
                    },
                    date: {
                      utc: true,            //Show time as universal time, ie without timezones.
                      format: 'MM/dd/yyyy',   //The format. See all possible formats here http://arshaw.com/xdate/#Formatting.
                      datePicker: true      //Requires "Datepicker for Bootstrap" plugin (http://www.eyecon.ro/bootstrap-datepicker).
                    }
                },
                actions: {                //This generates a button where you can add elements.
                    filter: true,         //If true, the filter fields can be toggled visible and hidden.
                    columnPicker: true,   //if true, the columnPicker can be toggled visible and hidden.
                    custom: [             //Add any other elements here. Here is a refresh and export example.
                      $('<a href="#" class="refresh"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a>'),
                      $('<a href="#" class="export all"><span class="glyphicon glyphicon-share"></span>&nbsp;Export all rows</a>'),
                      $('<a href="#" class="export checked"><span class="glyphicon glyphicon-share"></span>&nbsp;Export checked rows</a>'),
                      $('<a href="#" class="export filtered"><span class="glyphicon glyphicon-share"></span>&nbsp;Export filtered rows</a>'),
                      $('<a href="#" class="export rendered"><span class="glyphicon glyphicon-share"></span>&nbsp;Export rendered rows</a>')
                    ]
                },
                tableCreated: function(data) {    //Fires when the table is created / recreated. Use it if you want to manipulate the table in any way.
                    console.log('table created'); //data.table holds the html table element.
                    console.log(data);            //'this' keyword also holds the html table element.
                },
                rowClicked: function(data) {      //Fires when a row is clicked (Note. You need a column with the 'unique' property).
                    data.event.preventDefault();
                    if (data.column) {
                        id = data.row["orderID"];
                        buyer = data.row["buyer"];
                        recipient = data.row["recipient"];
                        item = data.row["item"];
                        tracking = data.row["tracking"];
                        if (confirm("Want to edit this order? \nItem: ".concat(item).concat("\nCustomer:  ").concat(buyer).concat("\nRecipient: ").concat(recipient).concat("\nTracking: ").concat(tracking)) == true) {
                             window.location.href = 'edit?order-id='.concat(id);
                        }

                    }
                },
                columnClicked: function(data) {    //Fires when a column is clicked
                  console.log('column clicked');  //data.event holds the original jQuery event
                  console.log(data);              //data.column holds the underlying column you supplied
                                                  //data.descending is true when sorted descending (duh)
                },
                pageChanged: function(data) {      //Fires when manually changing page
                  console.log('page changed');    //data.event holds the original jQuery event
                  console.log(data);              //data.page holds the new page index
                },
                pageSizeChanged: function(data) {  //Fires when manually changing pagesize
                  console.log('pagesize changed');//data.event holds teh original event
                  console.log(data);              //data.pageSize holds the new pagesize
                }
            }).data('WATable');  //This step reaches into the html data property to get the actual WATable object. Important if you want a reference to it as we want here.



            //Generate some data
            var data = ReadDate();
            waTable.setData(data);  //Sets the data.
            //waTable.setData(data, true); //Sets the data but prevents any previously set columns from being overwritten
            //waTable.setData(data, false, false); //Sets the data and prevents any previously checked rows from being reset

            //Get the data
            var allRows = waTable.getData(false); //Returns the data you previously set.
            var checkedRows = waTable.getData(true); //Returns only the checked rows.
            var filteredRows = waTable.getData(false, true); //Returns only the filtered rows.
            var renderedRows = waTable.getData(false, false, true) //Returns only the rendered rows.

            //Set options on the fly
            var pageSize = waTable.option("pageSize"); //Get option
            //waTable.option("pageSize", pageSize); //Set option

            //Databinding example
            var row = waTable.getRow(5).row; //Get row with unique value of 5.
            row.name = "Data-Binding Works"; //This would update the table...but only in ultra modern browsers. (See here http://caniuse.com/#search=observe)
            Platform.performMicrotaskCheckpoint(); //This make sure it also works in browsers not yet compatible with Object.observe. This is the polyfill that's used.(https://github.com/polymer/observe-js).
            //More databinding
            data.rows.shift(); //Removes the first row.
            var newRow = generateSampleData(1).rows[0];
            data.rows.push(newRow); //Add new row
            Platform.performMicrotaskCheckpoint();

            //Example event handler triggered by the custom refresh link above.
            $('#example2').on('click', '.refresh', function(e) {
                e.preventDefault();
                //Get and set some new data
                var data = generateSampleData(100);
                waTable.setData(data, true);
            });
            //Example event handler triggered by the custom export links above.
            $('#example2').on('click', '.export', function(e) {
                e.preventDefault();
                var elem = $(e.target);
                var data;
                if (elem.hasClass('all')) data = waTable.getData(false);
                else if (elem.hasClass('checked')) data = waTable.getData(true);
                else if (elem.hasClass('filtered')) data = waTable.getData(false, true);
                else if (elem.hasClass('rendered')) data = waTable.getData(false, false, true);
                console.log(data.rows.length + ' rows returned');
                console.log(data);
                alert(data.rows.length + ' rows returned.\nSee data in console.');
            });

        });

        //Generates some data.
        function ReadDate() {

            //First define the columns
            var cols = {
                orderID: {
                    index: 1, //The order this column should appear in the table
                    type: "number", //The type. Possible are string, number, bool, date(in milliseconds).
                    friendly: "Order ID",  //Name that will be used in header. Can also be any html as shown here.
                    sorting: true, // allow sorting
                    format: "<a href='detail?id={0}'> {0}</a>",  //Used to format the data anything you want. Use {0} as placeholder for the actual data.
                    unique: true,  //This is required if you want checkable rows, databinding or to use the rowClicked callback. Be certain the values are really unique or weird things will happen.
                    sortOrder: "desc", //Data will initially be sorted by this column. Possible are "asc" or "desc"
                },
                item: {
                    index: 2,
                    type: "string",
                    friendly: "Set#",
                    sorting: true, // allow sorting
                },
                quantity: {
                    index: 3,
                    type: "number",
                    friendly: "Quantity",
                    sorting: true, // allow sorting
                },
                gift: {
                    index: 4,
                    type: "string",
                    friendly: "gift",
                    sorting: true, // allow sorting
                    filter: false //Removes filter field for this column
                },
                buyer: {
                    index: 5,
                    type: "string",
                    friendly: "Customer",
                    sorting: false // allow sorting
                },
                recipient: {
                    index: 6,
                    type: "string",
                    friendly: "Recipient",
                    sorting: false
                },
                shippingDate: {
                    index: 7,
                    type: "string",
                    friendly: "Shipping Date"
                },
                receiveDate: {
                    index: 8,
                    type: "string", //Don't forget dates are expressed in milliseconds
                    friendly: "Receive Date"
                },
                company: {
                    index: 9,
                    type: "string", //Don't forget dates are expressed in milliseconds
                    friendly: "Company"
                },
                tracking: {
                    index: 10,
                    type: "string", //Don't forget dates are expressed in milliseconds
                    friendly: "Tracking#"
                },
                dest: {
                    index: 11,
                    type: "string", //Don't forget dates are expressed in milliseconds
                    friendly: "City"
                },
                status: {
                    index: 12,
                    type: "string", //Don't forget dates are expressed in milliseconds
                    friendly: "Status"
                },
                period: {
                    index: 13,
                    type: "number", //Don't forget dates are expressed in milliseconds
                    friendly: "Period"
                },
                comment: {
                    index: 14,
                    type: "string", //Don't forget dates are expressed in milliseconds
                    friendly: "Comment"
                },
                rrp: {
                    index: 15,
                    type: "number", //Don't forget dates are expressed in milliseconds
                    friendly: "RRP $"
                },
                shippingRate: {
                    index: 16,
                    type: "number", //Don't forget dates are expressed in milliseconds
                    friendly: "Shipping Rate $"
                },
                totalCost: {
                    index: 17,
                    type: "number", //Don't forget dates are expressed in milliseconds
                    friendly: "Total Cost $"
                },
                price: {
                    index: 18,
                    type: "number", //Don't forget dates are expressed in milliseconds
                    friendly: "Price￥"
                },
                earning: {
                    index: 19,
                    type: "number", //Don't forget dates are expressed in milliseconds
                    friendly: "Earning $"
                },
                percentage: {
                    index: 20,
                    type: "string", //Don't forget dates are expressed in milliseconds
                    friendly: "E / C %"
                },
                reward: {
                    index: 21,
                    type: "string", //Don't forget dates are expressed in milliseconds
                    friendly: "Reward"
                },
            };

            /*
              Create the rows (This step is of course normally done by your web server).
              What's worth mentioning is the special row properties. See some examples below.
              <column>Format allows you to override column format and have it formatted the way you want.
              <column>Cls allows you to add css classes on the cell(td) element.
              row-checkable allows you to prevent rows from being checkable.
              row-checked allows you to pre-check a row.
              row-cls allows you to add css classes to the row(tr) element.
            */
            var rows = [];
            var i = 1;
            {{for o in orders:}}
                var row = {};
                row.orderID       = '{{=o.id}}';
                row.item          = '{{=o.item}}';
                row.quantity      = '{{=o.quantity}}';
                row.gift          = '{{=o.gifts_info}}';
                if ('{{=o.gifts_info}}'){
                     row.giftCls = "orange";
                }
                row.buyer         = '{{=o.customer_name}}';
                row.recipient     = '{{=o.recipient_name}}';
                row.shippingDate = '{{=o.ship_date}}'=="None" ? "" : "{{=o.ship_date}}";
                row.receiveDate = '{{=o.receive_date}}'=="None" ? "" : "{{=o.receive_date}}";

                if ('{{=o.receive_date}}'=="None"){
                    if ('{{=o.ship_date}}'=="None"){
                        row.period = "";
                    }else{
                        row.period = shippingPeriodToToday('{{=o.ship_date}}');
                    }
                }else{
                    if ('{{=o.ship_date}}'=="None"){
                         row.period = "0";
                    }else{
                        row.period = shippingPeriod('{{=o.ship_date}}', '{{=o.receive_date}}');
                    }

                }
                row.company       = '{{=o.ship_company}}';
                row.tracking      = '{{=o.tracking}}';
                row.dest        = '{{=o.order_destination}}';
                row.status        = statusColor('{{=o.status.name}}');
                row.comment      =  '{{=o.order_comment}}';
                if ('{{=o.order_comment}}'){
                     row.commentCls = "orange";
                }
                row.rrp      = '{{=o.rrp}}';
                row.shippingRate = '{{=o.ship_rate}}';
                var cost = calculateTotalCost('{{=o.quantity}}','{{=o.rrp}}','{{=o.ship_rate}}','{{=o.tax_rate}}');
                row.totalCost = cost.toString().concat(Number('{{=o.quantity}}')>1 ? " ("+'{{=o.quantity}}'+")" : "");
                row.price = '{{=o.price}}'.concat(Number('{{=o.quantity}}')>1 ? " ("+'{{=o.quantity}}'+")" : "");
                var earning = calculateEarning('{{=o.quantity}}','{{=o.rrp}}','{{=o.ship_rate}}',
                                               '{{=o.tax_rate}}','{{=o.exchange_rate}}','{{=o.price}}');
                var points = calculatePoints('{{=o.quantity}}','{{=o.rrp}}','{{=o.reward.ratio}}');
                if(row.status == "Not Shipped"){
                    row.earning = "0";
                    row.points = "0";
                    row.percentage =  "0 %";
                }else{
                    row.earning =earning.toString();
                    row.points = points.toString();
                    var percentage = Number(earning) / Number(cost);
                    percentage = Math.round(percentage * 100);
                    row.percentage = percentage.toString().concat(" %");
                    row.percentageCls = colorEarning(percentage);
                }
                row.reward = '{{=o.reward.name}}';
              //  row["row-cls"]       = i % 3 == 0 ? "gray, anotherClass" : ""; //apply some row css classes for every 3rd row

              //  row.secret           = { "secret" : "foobar" }; //Add something else that you want later(ex in rowClicked event)

                rows.push(row);
                i++;

            {{pass}}


            //Create the returning object. Besides cols and rows, you can also pass any other object you would need later on.
            var data = {
                cols: cols,
                rows: rows,
                otherStuff: {
                    thatIMight: 1,
                    needLater: true
                }
            };
            return data;
        }

</script>
